<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Super Resolution</title>
      <link rel="shortcut icon" href="https://www.freeiconspng.com/uploads/video-icon-6.png" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'Application/sty.css' %}">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>
   <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="#">SUPER RESOLUTION</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content:flex-end;">
            <div class="navbar-nav">
               <a class="nav-item nav-link" href="{% url 'index' %}"><i class="fa fa-home"></i>  Home <span class="sr-only">(current)</span></a>
               <a class="nav-item nav-link" href="#">About</a>
            </div>
         </div>
      </nav>
      <br><br><br>
      <div class="jumbotron" style="opacity: 70.">
         Super Resolution enables you to convert your low-key defined images and video clips into ultra HD. It can scale up the resolution upto 4x successfully of your media file. Simply choose any video clip(mp4) or image(jpeg/jpg/png) and hit upload. The algorithm scales up the resolution to create beautiful results which can be easily downloaded..

      </div>

      <br>
      <table align='center' cellpadding="15" cellspacing="5">
         <tr align='center'>
            <td><a href="https://github.com/llGurudevll" target="_blank"><i class="fa fa-github" style="font-size:50px"></i></a></td>
            <td><a href="https://github.com/chirag6456" target="_blank"><i class="fa fa-github" style="font-size:50px"></i></a></td>
            <td><a href="https://github.com/jeetmeena" target="_blank"><i class="fa fa-github" style="font-size:50px"></i></a></td>
            <td>
               <a href="#" >
                  <i class="fa fa-github" style="font-size:50px"></i>
            </td>
            <td><a href="https://github.com/mahimaarora" target="_blank"><i class="fa fa-github" style="font-size:50px"></i></a></td>
            <td><a href="https://github.com/shivamsaboo17" target="_blank"><i class="fa fa-github" style="font-size:50px"></i></a></td>
         </tr>
         <tr align='center'>
            <td>AJAY GURU</td>
            <td>CHIRAG VANKAR</td>
            <td>JEETPAL MEENA</td>
            <td>KANHAIYA LAL</td>
            <td>MAHIMA ARORA</td>
            <td>SHIVAM SABOO</td>
         </tr>
      </table>
      <script src="{% static 'Application/particles.js' %}"></script>
      <script src="{% static 'Application/app.js' %}"></script>
      <footer  class="fixed-bottom"> <a href="https://github.com/mahimaarora/SuperResolution" target="_blank"><i class="fa fa-git-square" style="font-size:30px"></i></a>  2018 Version 1.0  </footer>
   </body>
</html>
